# Dependencies
node_modules

# Build
dist
dev-dist

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*.local

# PWA / Vite
*.local

# TypeScript
*.tsbuildinfo
